@{
    Layout = null;
}
<div id="alertaError" class="alert alert-danger fade in" style="padding: 7px;margin-bottom:5px">
    <i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></i>
    <span>@ViewBag.Error</span>
</div>